<div class="c-sidebar">
    <h6 class="fw-bold text-break mt-2">Projects</h6>
    <div class="list-group list-group-flush">
        <button type="button" class="list-group-item list-group-item-action active">
            <i class="bi bi-code-square"></i> 
            <span> Default Project</span>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
            <i class="bi bi-code-square"></i>
            <span> Second Project</span>
        </button>
    </div>
    
    <h6 class="fw-bold text-break mt-4">Docs</h6>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action">
            <i class="bi bi-robot"></i>
            <span> Chatbot</span>
        </a>
        <a class="list-group-item list-group-item-action">
            <i class="bi bi-input-cursor-text"></i>
            <span> Embedded Forms</span>
        </a>
    </div>

    <h6 class="fw-bold text-break mt-4">Others</h6>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="/console/settings">
            <i class="bi bi-gear"></i> 
            <span> Settings</span>
        </a>
    </div>
</div>
