<div class="c-sidebar">
    <h6 class="fw-bold text-break mt-2">Projects</h6>
    <div class="list-group list-group-flush">
        <div *ngIf="projectList.length === 0" class="alert alert-info">
            No Projects. <a routerLink="/console/create-project">Create One</a>
        </div>
        <div *ngFor="let project of projectList">
            <a class="list-group-item list-group-item-action rounded border-0 {{currentProjectId === project.id ? 'active': ''}}"
                [routerLink]="['/console/project/', project.id, 'dashboard']"
                (click)="onProjectChanged(project)">
                <i class="bi bi-code-square"></i> <span> {{project.name}}</span>
            </a>
        </div>
    </div>

    <h6 class="fw-bold text-break mt-4">Docs</h6>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action rounded border-0">
            <i class="bi bi-robot"></i>
            <span> Chatbot</span>
        </a>
        <a class="list-group-item list-group-item-action rounded border-0">
            <i class="bi bi-input-cursor-text"></i>
            <span> Embedded Forms</span>
        </a>
    </div>

    <h6 class="fw-bold text-break mt-4">Others</h6>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action rounded border-0" routerLink="/console/settings" routerLinkActive="active" (click)="onProjectChangedToNull()">
            <i class="bi bi-gear"></i>
            <span> Settings</span>
        </a>
    </div>
</div>