<div class="c-project">
    <h3>{{project?.name}}</h3>

    <div class="container-fluid mt-3">
        <div class="project-tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button class="nav-link {{tabActiveIndex === 0 ? 'active' : ''}}" (click)="changeTabIndex(0)">
                        <i class="bi bi-bar-chart-steps"></i> Dashboard
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{tabActiveIndex === 1 ? 'active' : ''}}" (click)="changeTabIndex(1)">
                        <i class="bi bi-pass"></i> API's
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link {{tabActiveIndex === 2 ? 'active' : ''}}" (click)="changeTabIndex(2)">
                        <i class="bi bi-sliders"></i> Settings
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid mt-2">
        <app-project-dashboard *ngIf="tabActiveIndex === 0" [project]="project"></app-project-dashboard>
        <app-project-apis *ngIf="tabActiveIndex === 1" [project]="project"></app-project-apis>
        <app-project-settings *ngIf="tabActiveIndex === 2" [project]="project"></app-project-settings>
    </div>
</div>