<div class="mt-3">    
    <div *ngIf="error !== null" class="alert alert-danger">
        <strong>Oops!</strong> {{error}}
    </div>

    <form [formGroup]="commonForm">
        <h5>Profile Config</h5>
        <div class="mb-3">
            <label for="botName" class="form-label">Bot Name</label>
            <input type="text" class="form-control" id="botName" placeholder="Bot Name" formControlName="botName" #botName>
            <div class="form-text d-flex justify-content-end {{botName.value.length > 20 ? 'text-danger': ''}}">
                {{botName.value.length > 20 ? "Name Length Exceeded!": ""}} {{botName.value.length}}/20
            </div>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="botProfilePic">Bot Profile Pic</label>
            <input type="file" class="form-control" id="botProfilePic" accept="image/*" formControlName="botProfilePic" #botProfilePic>
        </div>
        <div class="mb-3">
            <label for="greetings" class="form-label">Greetings</label>
            <input type="text" class="form-control" id="greetings" placeholder="Greetings! (ex. How may I help you.)" formControlName="greeting" #greeting>
            <div class="form-text d-flex justify-content-end {{greeting.value.length > 200 ? 'text-danger': ''}}">
                {{greeting.value.length > 200 ? "Name Length Exceeded!": ""}} {{greeting.value.length}}/200
            </div>
        </div>
    </form>

    <div *ngIf="projectApi && projectApi.type === product.chatbot.types[0]">
        <h5>QnA Config</h5>
        <form *ngFor="let form of qnaForms; let i = index" class="mb-3" [formGroup]="form">
            <div class="d-flex justify-content-between">
                <label for="question-{{i}}" class="form-label">Question {{i + 1}}.</label>
                <button class="btn btn-link btn-sm text-danger" (click)="removeQuestion(i)"><i class="bi bi-dash-lg"></i></button>
            </div>
            <input type="text" class="form-control border-dark" id="question-{{i}}" placeholder="Question to be listed on chatbot" formControlName="question">
            <textarea class="form-control border-primary mt-2" id="answer-{{i}}" placeholder="Answer to be given by chatbot" rows="1" formControlName="answer"></textarea>
        </form>
        <div class="mt-3">
            <button class="btn btn-primary" (click)="addQuestion()"><i class="bi bi-plus-lg"></i> Add Question</button>
        </div>
    </div>

    <div *ngIf="projectApi && projectApi.type === product.chatbot.types[1]">
        <h5>Parameters Config</h5>
        <form [formGroup]="paramsForm">
            <div class="mb-3">
                <label for="botEngine" class="form-label">Bot Engine</label>
                <select class="form-select" aria-label="Language Model" id="botEngine" formControlName="botEngine" #botEngine (change)="onEngineChange($event)">
                    <option value="None" selected>Select Bot Engine</option>
                    <option *ngFor="let engine of product.chatbot.engines | slice: 1" value="{{engine}}">{{engine}}</option>
                </select>
            </div>
            <div *ngIf="isOtherParameterVisible">
                <div class="mb-3">
                    <label for="languageModel" class="form-label">Language Model</label>
                    <select class="form-select" aria-label="Language Model" id="languageModel" formControlName="languageModel">
                        <option value="None" selected>Select Language Model</option>
                        <option *ngFor="let model of product.chatbot.models[botEngine.value]" value="{{model}}">{{model}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="sysPrompt" class="form-label">System Prompt <span class="text-muted">(optional)</span></label>
                    <input type="text" class="form-control" id="sysPrompt" placeholder="System Prompt" formControlName="sysPrompt">
                </div>
                <div class="mb-3">
                    <label for="knowledge" class="form-label">Knowledge</label>
                    <textarea class="form-control" id="knowledge" rows="3" placeholder="Extra knowledge given to Bot" formControlName="knowledge"></textarea>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" (change)="onUseEmform($event)">
                    <label class="form-check-label mx-2" for="flexCheckDefault"> Use Emform inside chatbot</label>
                </div>
                <div class="mb-3" *ngIf="isEmformAllowed">
                    <label for="whenEmform" class="form-label">When to use this form ({{emform?.name}})</label>
                    <input type="text" class="form-control" id="whenEmform" placeholder="Specify when to popup this form" formControlName="whenEmform">
                </div>
                <div class="mb-3">
                    <label for="temperature" class="form-label">Temperature <span class="text-muted">(0.00 - 1.00)</span></label>
                    <input type="number" class="form-control" id="temperature" placeholder="Temperature" formControlName="temperature" min="0" max="1">
                </div>
                <div class="mb-3">
                    <label for="maxTokens" class="form-label">Max Tokens <span class="text-muted">(1 - 2048)</span></label>
                    <input type="number" class="form-control" id="maxTokens" placeholder="maxTokens" formControlName="maxTokens" min="1" max="2048">
                </div>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-end pb-3">
        <button type="button" class="btn btn-primary" (click)="commitConfig(botProfilePic.files)">Update Config</button>
    </div>
</div>
