<button id="configChatbotApiBtn" class="d-none" data-bs-toggle="modal" data-bs-target="#configChatbotApi">
    Config API
</button>
<div class="modal fade" id="configChatbotApi" tabindex="-1" aria-labelledby="configChatbotApiLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="configChatbotApiLabel">
                    API Configuration | {{projectApi?.product}} - {{projectApi?.type}}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetQnaForm()"></button>
            </div>
            <div class="modal-body">

                <div *ngIf="projectApi && projectApi.type === product.chatbot.types[0]">
                    <form *ngFor="let form of qnaForms; let i = index" class="mb-3" [formGroup]="form">
                        <div class="d-flex justify-content-between">
                            <label for="question-{{i}}" class="form-label">Question {{i + 1}}.</label>
                            <button class="btn btn-link btn-sm text-danger" (click)="removeQuestion(i)"><i class="bi bi-dash-lg"></i></button>
                        </div>
                        <input type="text" class="form-control border-dark" id="question-{{i}}" placeholder="Question to be listed on chatbot" formControlName="question">
                        <textarea class="form-control border-primary mt-2" id="answer-{{i}}" placeholder="Answer to be given by chatbot" rows="1" formControlName="answer"></textarea>
                    </form>
                    <div class="mt-3">
                        <button class="btn btn-primary" (click)="addQuestion()"><i class="bi bi-plus-lg"></i> Add Question</button>
                    </div>
                </div>

                <div *ngIf="projectApi && projectApi.type === product.chatbot.types[1]">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="configChatbotApiCloseBtn" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetQnaForm()"
                    #closeBtn>
                    Close
                </button>
                <button type="button" class="btn btn-primary">Update Config</button>
            </div>
        </div>
    </div>
</div>