<div class="container-fluid mt-3">
    <div class="c-project-settings">
        <div *ngIf="error !== null" class="alert alert-danger">
            <strong>Oops!</strong> {{error}}
        </div>
        <div *ngIf="success !== null" class="alert alert-success">
            <strong>Done!</strong> {{success}}
        </div>
        <form [formGroup]="projectFrom" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="projectName" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName" formControlName="name"
                    aria-describedby="nameCounter" required #name>
                <div id="nameCounter" class="form-text d-flex justify-content-end {{name.value.length > 50 ? 'text-danger': ''}}">
                    {{name.value.length > 50 ? "Name Length Exceeded!": ""}} {{name.value.length}}/50
                </div>
            </div>
            <div class="mb-3">
                <label for="projectDescription" class="form-label">Project Description</label>
                <textarea class="form-control" id="projectDescription" rows="3" style="resize: none;"
                    formControlName="description" aria-describedby="projectDescriptionCounter" required #description></textarea>
                <div id="projectDescriptionCounter" class="form-text d-flex justify-content-end {{description.value.length > 200 ? 'text-danger': ''}}">
                    {{description.value.length > 200 ? "Description Length Exceeded!": ""}} {{description.value.length}}/200
                </div>
            </div>
            <label class="form-label">Project Environment</label>
            <div class="mb-3 d-flex gap-2 c-envtype-block">
                <div class="p-3 border rounded">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="envtype" id="envDevType" value="DEVELOPMENT"
                            checked formControlName="envtype">
                        <label class="form-check-label" for="envDevType">
                            <i class="bi bi-code-slash"></i>
                            Development
                        </label>
                    </div>
                </div>
                <div class="p-3 border rounded">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="envtype" id="envProdType" value="PRODUCTION"
                            formControlName="envtype">
                        <label class="form-check-label" for="envProdType">
                            <i class="bi bi-rocket-takeoff"></i>
                            Production
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="host" class="form-label">Project host</label>
                <input type="text" class="form-control" placeholder="https://www.example.com" formControlName="host" id="host" />
                <small class="text-secondary">Note: In case of many host seperate them with comma. (eg. https://www.example.com, https://api.example.com)</small>
            </div>
            <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-success" type="submit">Update Project</button>
            </div>
        </form>
    </div>
</div>