<button id="userIdentityBtn" class="d-none" data-bs-toggle="modal" data-bs-target="#userIdentity">User Identity</button>
<div class="modal fade" id="userIdentity" tabindex="-1" aria-labelledby="userIdentityLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userIdentityLabel">Verify it's You</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelService()"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="error !== null" class="alert alert-danger">
            <strong>Oops!</strong> {{error}}
          </div>
          <form [formGroup]="verificationForm">
            <div class="mb-3">
                <small>Enter the OTP sent to your email</small>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="OTP" formControlName="otp">
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="userIdentityCloseBtn" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelService()">Close</button>
          <button type="button" class="btn btn-primary" (click)="verifyIdentity()">Verify</button>
        </div>
      </div>
    </div>
  </div>
